.participants-scroll {
  max-height: 380px;
  overflow-y: auto;
  padding-right: 6px;
}

@media (max-width: 576px){
  .participants-scroll{ 
    max-height: 260px; 
  }
}

.participants-scroll::-webkit-scrollbar{ 
  width: 6px; 
}

.participants-scroll::-webkit-scrollbar-thumb{
  background-color: #cfd6e6;
  border-radius: 10px;
}